<div class="header clearfix" ng-controller="HeaderCtrl">
<nav>
<ul class="nav nav-pills">
<li role="presentation" ng-class="{ active: isActive('/home') }"><a href="#/home">Home</a></li>
<li role="presentation" ng-class="{ active: isActive('/invoices') }"><a href="#/invoices">Invoices</a></li>
<li role="presentation" ng-class="{ active: isActive('/customers') }"><a href="#/customers">Customers</a></li>
<li role="presentation"  ng-class="{ active: isActive('/login') }" class="pull-right"><a href="#/login">Login</a></li>
</ul>
</nav>