.form-signin {
    max-width: 330px;
    margin: 40px auto;
}

table.table-left-headers th {
    text-align: left;
}

.navbar-brand {
    padding: 9px 16px;
}

.nav .user-menu-link {
    padding: 9px 16px;
}
