.form-signin {
    max-width: 330px;
    margin: 40px auto;
}

table.table-left-headers th {
    text-align: left;
}

.navbar-brand {
    padding: 9px 16px;
}

.nav .user-menu-link {
    padding: 9px 16px;
}

.collapse-btn {
    position: relative;
}

.collapse-inline.in,
.collapse-inline.collapsing {
    display: inline-block;
    position: relative;
    top: -1px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-right: -11px;
    height: 24px;
}

.collapse-inline .form-control {
    padding: 3px 8px;
    height: 28px;
}

.invoice-lines-table td:last-child {
  min-width: 90px;
}

.editable-table > tbody > tr > td {
  padding: 4px
}
.editable-text {
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline-block;
}
.editable-table tbody > tr > td > .controls {
  //width: 100%
}
.editable-input {
  padding-left: 3px;
}
.editable-input.input-sm {
  height: 30px;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.readonly-text {
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: inline-block;
}
