<h1>{{title}}</h1>
<form ng-submit="save()">
  <h3>Customer
    <div class="btn btn-default collapse-btn">
      <span ng-click="customerSelectOpen=!customerSelectOpen"><i class="glyphicon glyphicon-th-list"></i> Select</span>
      <div ng-collapse="!customerSelectOpen" collapse-options="{horizontal: true, duration: '0.1s'}" class="collapse-inline">
        <ui-select ng-model="selectedCustomer.item" on-select="fillCustomer($item, $model)">
          <ui-select-match placeholder="Customer for this invoice...">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="customer in customers | filter: $select.search" refresh="loadCustomers()" refresh-delay="0">
             <div ng-bind-html="trustAsHtml((customer.name | highlight: $select.search))"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </h3>
  <div class="row">
    <div class="form-group col-md-7">
      <input type="text" class="form-control" id="name" placeholder="Name of the customer" ng-model="invoice.customer_name">
    </div>
    <div class="form-group col-md-4">
      <input type="text" class="form-control" id="taxid" placeholder="Legal ID of the customer (e.g. VAT ID)" ng-model="invoice.customer_tax_id">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <textarea class="form-control" id="invoicing_address" rows="3" placeholder="Address to be placed on invoice" ng-model="invoice.customer_invoicing_address"></textarea>
    </div>
    <div class="form-group col-md-4">
      <textarea class="form-control" id="shipping_address" rows="3" placeholder="Address to be used for shipping" ng-model="invoice.customer_shipping_address"></textarea>
    </div>
    <div class="form-group col-md-3">
      <input type="text" class="form-control" id="contact_person" placeholder="Name of the contact person" ng-model="invoice.customer_contact_person">
    </div>
    <div class="form-group col-md-3">
      <input type="email" class="form-control" id="email" placeholder="Email address" ng-model="invoice.customer_email">
    </div>
  </div>
  <h3>Items</h3>
  <table ng-table="tableParams" class="table table-striped table-hover table-left-headers editable-table invoice-lines-table" ng-form="tableForm">
    <colgroup>
      <col width="55%" />
      <col width="10%" />
      <col width="10%" />
      <col width="10%" />
      <col width="10%" />
      <col width="5%" />
    </colgroup>
    <tr ng-repeat="row in invoice.lines track by row.id" ng-form="rowForm">
      <td data-title="'Product/Service'" ng-switch="row.isEditing" ng-form="description">
        <span ng-switch-default class="editable-text">{{row.description}}</span>
        <div class="controls" ng-switch-when="true">
          <input type="text" name="description" ng-model="row.description" class="editable-input form-control input-sm" required />
        </div>
      </td>
      <td data-title="'Qty'" ng-switch="row.isEditing" ng-form="qty">
        <span ng-switch-default class="editable-text">{{row.quantity}}</span>
        <div class="controls" ng-switch-when="true">
          <input type="number" name="qty" ng-model="row.quantity" step="0.01" min="0" class="editable-input form-control input-sm" required string-to-number />
        </div>
      </td>
      <td data-title="'Unit'" ng-switch="row.isEditing" ng-form="unit">
        <span ng-switch-default class="editable-text">{{row.unit}}</span>
        <div class="controls" ng-switch-when="true">
          XXX
        </div>
      </td>
      <td data-title="'Unit Price'" ng-switch="row.isEditing" ng-form="unitprice">
        <span ng-switch-default class="editable-text">{{row.currency}}&nbsp;{{row.unit_price}}</span>
        <div class="controls" ng-switch-when="true">
          <input type="number" name="unitprice" ng-model="row.unit_price" step="0.01" min="0" class="editable-input form-control input-sm" required string-to-number />
        </div>
      </td>
      <td data-title="'VAT'" ng-switch="row.isEditing" ng-form="taxrate">
        <span ng-switch-default class="editable-text">{{row.tax_rate}}%</span>
        <div class="controls" ng-switch-when="true">
          XXX
        </div>
      </td>
      <td data-title="'Net Value'"><span class="readonly-text">{{row.currency}}&nbsp;{{row.net_value}}</span><i class="fa fa-spinner fa-spin" ng-show="row.isCalculating"></td>
      <td>
        <button type="button" class="btn btn-primary btn-sm" ng-click="lineEditSave(row, rowForm)" ng-if="row.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid"><span class="glyphicon glyphicon-ok"></span></button>
        <button type="button" class="btn btn-default btn-sm" ng-click="lineEditCancel(row, rowForm)" ng-if="row.isEditing"><span class="glyphicon glyphicon-remove"></span></button>
        <button type="button" class="btn btn-default btn-sm" ng-click="lineEditStart(row)" ng-if="!row.isEditing"><span class="glyphicon glyphicon-pencil"></span></button>
        <button type="button" class="btn btn-danger btn-sm" ng-click="lineDelete(row)" ng-if="!row.isEditing"><span class="glyphicon glyphicon-trash"></span></button>
      </td>
    </tr>
  </table>

  <div>lines:{{invoice.lines}}</div>
  <div>subtotals:{{invoice.subtotals}}</div>
  <div>total:{{invoice.total}}</div>
  <h3>Terms and Conditions</h3>
  <div class="row">
    <div class="form-group col-md-10">
      <textarea class="form-control" id="terms" rows="3" placeholder="Invoice specific text" ng-model="invoice.terms"></textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-default" ng-click="export()">Export</button>
  <button type="button" class="btn btn-danger pull-right" ng-click="remove()" ng-show="invoice.id"><i class="glyphicon glyphicon-remove"></i> Delete</button>
</form>
