<!doctype html>
<html lang="en" ng-app='YaiaApp'>
<head>
  <meta charset="UTF-8">
  <title ng-bind="'YAIA' + ($title ? (' - ' + $title) : '')">YAIA</title>
  <!-- styles -->
  <link href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet" media="screen">
  <link href="{{ url_for('bower.static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">
  <link href="{{ url_for('bower.static', filename='ng-table/dist/ng-table.css') }}" rel="stylesheet">
  <link href="{{ url_for('bower.static', filename='angular-collapse/angular-collapse.css') }}" rel="stylesheet">
  <link href="{{ url_for('bower.static', filename='ui-select/dist/select.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon">
</head>
  <body>
    <div class="container">
      <div ui-view></div>
    </div>
    <!-- scripts -->
    <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('bower.static', filename='bootstrap/dist/js/bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('bower.static', filename='angular/angular.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('bower.static', filename='angular-ui-router/release/angular-ui-router.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('bower.static', filename='restangular/dist/restangular.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('bower.static', filename='lodash/lodash.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('bower.static', filename='angular-ui-router-title/angular-ui-router-title.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('bower.static', filename='ng-table/dist/ng-table.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('bower.static', filename='angular-gravatar/build/angular-gravatar.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('bower.static', filename='angular-collapse/angular-collapse.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('bower.static', filename='ui-select/dist/select.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('bower.static', filename='angular-sanitize/angular-sanitize.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('bower.static', filename='angular-file-saver/dist/angular-file-saver.bundle.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/invoices.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/welcome.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/auth.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/customers.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/profile.js') }}" type="text/javascript"></script>
  </body>
</html>